<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  
    <hr/>

    <form action="<%= WrapRoute('/login.action') %>" method="post">
        <p>name: <input type="text" name="name" /></p> 
        <p>passwd: <input type="password" name="passwd" /></p>
        <input type="submit" value="Submit" />
    </form>

    <hr/>

    <p><a href="<%= WrapRoute('/register.action') %>">register</a></p>

  </body>
</html>
