<!DOCTYPE html>
<html>
    <head>
    </head>
  <body>

        
    <hr/>

    <p>register</p>
    <form action=<%= WrapRoute('/register.action') %> method="post">

        <p>name: <input type="text" name="name" /></p>
        <p>passwd: <input type="password" name="passwd" /></p>
        <p>reasswd: <input type="password" name="repasswd" /></p>
        <input type="submit" value="Submit" />
    </form>

    <hr/>

    <p><a href="<%= WrapRoute('/login.action') %>">login</a></p>

  </body>
</html>
